{# load humanize #}

<article class="card room-card">
    <div class="card-head">
        <h2 class="card-title">
            <a href="{% url 'rooms:room-detail' room.id %}">Номер {{ room.number }}</a>          
        </h2>
        
        {% if room.is_available %}
            <span class="badge badge-success">Свободен</span>
        {% else %}
            <span class="badge badge-danger">Занят</span>
        {% endif %}
    </div>

    <p class="card-subtitle">{{ room.hotel.name }} ★{{room.hotel.rating}}, {{ room.hotel.city }}</p>
    <p class="card-subtitle">{{ room.get_room_type_display }} • до {{ room.capacity }} гостей</p>
    
    {% if room.description %}
    <p class="card-desc">{{ room.description|truncatechars:64 }}</p>    
    {% endif %}

    <div class="card-meta">
        <span class="price">{{ room.price_night|intcomma }} ₸/ночь</span>
    </div>
</article>
