{% extends 'base.html' %}
{% load static %}

{% block title %}Номера{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'rooms/css/style.css' %}">
{% endblock %}


{% block header %}
<h1>HotelHub</h1>
<p>Поиск и бронирование номера</p>
{% endblock %}


{% block content %}
<form method="get" class="search-form">
    <p class="room_search">Поиск номеров: </p>
    <div class="search-container">
        {{ form.room }}
        <input class="search-input" type="text" name="hotel_name" value="{{ hotel.name }}"
            placeholder="Введите название отеля...">
        <button type="submit" class="search-btn">Найти</button>
    </div>
</form>

{% if rooms %}
<div class="rooms-grid">
    {% for room in rooms %}
    {% if room.is_available %}
    <article class="room-card">
        <h2 class="hotel-name">{{ room.hotel.name }} ★{{room.hotel.rating}}</h2>
        <p class="hotel-city">{{ room.hotel.city }}, {{ room.hotel.address }}</p>
        <p class="room_type">Тип номера: {{ room.get_room_type_display }}</p>
        <p class="room-number">Номер {{ room.number }}</p>
        <p class="room_capacity">Мест: {{ room.capacity }}</p>
        {% if room.description %}
        <p class="room-desc">{{ room.description|truncatechars:64 }}</p>
        {% endif %}
        <div class="room-meta">
            <span class="room-price">{{ room.price_night }} ₸/ночь</span>
        </div>
    </article>
    {% endif %}
    {% endfor %}
</div>
{% else %}
<div class="empty">
    <p class="empty">Номера отелей не найдены, попробуйте изменить свой поисковый запрос.</p>
</div>
{% endif %}
{% endblock %}