{% extends 'base.html' %}
{% load static %}

{% block title %}HotelHub - Номера{% endblock %}

{% block body_class %}theme-rooms{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'rooms/css/style.css' %}">
{% endblock %}


{% block page_title %} Номера {% endblock %}
{% block page_subtitle %}Выбор номеров в отелях HotelHub{% endblock %}


{% block content %}
<form method="get" class="search-form">
    <p class="room_search">Тип номера: </p>
    <div class="search-container">
        {{ form.room }}
        <input class="search-input" type="text" name="hotel_name" value="{{ hotel.name }}"
            placeholder="Введите название отеля...">
        <button type="submit" class="search-btn">Найти</button>
    </div>
</form>

{% if rooms %}
<div class="rooms-grid">
    {% for room in rooms %}
        {% include 'rooms/_card.html' %}    
    {% endfor %}
</div>
{% else %}
<div class="empty">
    <p class="empty">Номера отелей не найдены, попробуйте изменить свой поисковый запрос.</p>
</div>
{% endif %}
{% endblock %}