{% extends 'base.html' %}
{% load static %}


{% block title %}HotelHub - поиск отелей{% endblock %}

{% block body_class %}theme-hotels{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'hotels/css/style.css' %}">
{% endblock %}


{% block header %}
<h1>HotelHub</h1>
<p>Поиск и бронирование отелей</p>
{% endblock %}


{% block content %}
<form method="get" class="search-form">
    <input type="text" name="city" value="{{ city }}" placeholder="Введите город, например, Астана"
        class="search-input">
    <button type="submit" class="search-btn">Искать</button>
</form>

{% if hotels %}
<div class="card-grid">
    {% for hotel in hotels %}
        {% include 'hotels/_card.html' with hotel=hotel %}    
    {% endfor %}
</div>
{% else %}
<div class="empty">
    <p class="empty">Отели не найдены, попробуйте изменить свой поисковый запрос.</p>
</div>
{% endif %}

{% endblock %}